# Location of the yoastSEO plugin
wpseo_location="/Users/hugo/Projects/Yoast/plugin-development-docker/plugins/wordpress-seo";
# Location of the yoastSEO premium plugin
wpseo_premium_location="/Users/hugo/Projects/Yoast/plugin-development-docker/plugins/wordpress-seo-premium";
# Location of the woo addon
woo_addon_location="/Users/hugo/Projects/Yoast/plugin-development-docker/plugins/wpseo-woocommerce";
# Location of your shopify-seo folder
shopify_location="/Users/hugo/Projects/Yoast/shopify-seo";
# Location of the plugins folder in your Local by Flywheel env
local_plugins="/Users/hugo/Local\ Sites/wordpresstest/app/public/wp-content/plugins"