. /Users/hugo/Projects/productivity_scripts/my_locations.config;

# go to plugin development dockcer
alias pdd="cd /Users/hugo/Projects/Yoast/plugin-development-docker && pwd"
# Go to wordpress seo free folder
alias wpseo="cd ${wpseo_location} && pwd"
# go to wordpress seo premium folder
alias wpseop="cd ${wpseo_premium_location} && pwd"
# yarn refres dev build
alias yrdb="yarn refresh-dev-build"
# build woocommerce
alias wooletthedogsout="cd ${woo_addon_location} && composer install && yarn && grunt build"
# Open the lingo board
alias pcboard="open https://github.com/orgs/Yoast/projects/51"
# Quick build
alias qb="wpseo && grunt build:js && pwd"
# Quick build premium
alias qbp="wpseop && grunt build:js && pwd"
# go to shopify folder
alias shopify="cd ${shopify_location} && pwd" 
# Go to shopify app folder
alias shopifyapp="cd ${shopify_location}/app && pwd"
# go to plugins folder on local
alias lplugins="cd /Users/hugo/Local\ Sites/${local_sitename}/app/public/wp-content/plugins && pwd"